*{
    scroll-behavior: smooth;
}
a{
    cursor:cell;
}
body {
    /**margin-top: 60px;**/
    cursor: url("../img/cursor.png"),auto;
	background: linear-gradient(0deg,  #fff6ff,#ffffff) !important;
	background:#FFF6FF;
	background-size: 400% 400%;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: -0.022em;
    padding:0;
    margin:0;
}

i#ig{
    margin-top: 15px; 
    margin-left: 10px;
}
.ha{
    width:77px;
}
.ha1{
    width: 100px;
}
.ha3{
    width: 90px;
}
.ha2{
    width:83px;
}
.ha4{
    width: 150px
}
.ha5{
    width:85px;
}
@media (max-width: 992px) {
    .ha{
    width:auto;
}
.ha1{
    width: auto;
}
.ha3{
    width: auto;
}
.ha2{
    width: auto;
}
.ha4{
    width: auto;
}
.ha5{
    width: auto;
}
.igga{
    text-align: center;
    padding-left:20px;
}
.igga:hover{
}
}
.fullborder{
    width: 100%;
}
.box {
	margin: 20px auto;
    width: 100%;
	padding-top: 30px;
    text-align: center;
	padding-bottom: 20px;
	transition: 0.5s;
	font-family: 'Ubuntu', sans-serif;
	
}
.box a{
    font-size: 23px;
	color: #000;
}
.box a:hover{
    color: rgb(0, 148, 0);
}
@media (max-width: 768px) {
    .box {
    width: 100%;
    float:none;}
}

.box img{
    height:200px;
	padding: 30px 0;
    margin-bottom: 10px;
	display: inline-block;
    transform: scale(1.1);
    transition: 1s;
}
.box button{
	width: 130px;
	height: 35px;
	color: #fff;
	border: none;
	background: #0071e3;
    margin: 20px auto 0;
	border-radius: 8px;
	transition: 0.5s;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
}

.box:hover, .box:active{
    box-shadow: inset 0 0 150px 50px rgba(123, 255, 0, 0.5);
}
.box:hover img{
	transform: scale(1.25);
}
button:hover, button:active{
  background-color: #000;
  color: #FFF;
}
@media (max-width: 900px) {
    .box{
    font-size: 26px;
}
.box:hover img{
	transform: scale(0.9);
}
}
blockquote:hover{
    transform: scale(1.25);
}
/*
.box img:hover{
	
	margin-top:10px;
	padding: 20px;
    
}

 content */
.title{
	width: 100%;
	display: inline-block;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
}
.title {
    background: linear-gradient(270deg, rgb(107, 221, 0), rgb(18, 153, 0)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms, color 500ms;
    --bg-h: 100%;
  }
  .title:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  .title{
    padding-bottom: 26px;
    margin-bottom: -27px;
    --bg-h: 8px;
    text-decoration: none;
  }
  .title:hover{
      color: rgb(18, 153, 0);
  }

/* change it with title padding-top and margin-top
.title:hover{
    font-size: 72px;
	padding-top: 0px; margin-top: 0px;
	background-color: #8E85A0;
	transition:0.5s; 
}.title#shop:hover{
    margin-top:75px;
}*/
/*instagram*/
.full{
	margin: auto;
	display: flex;
	justify-content: center;
    align-items: top;
}
.ig1, .ig2{
    margin:0 5px;
}
@media (max-width: 992px) {
    .full{
		display:block;
}
}
.blank{
    margin: 0;
    padding: 0;
    height: 0;  
}
.lblank{
	background-color:rgba(0,0,0, 0.3);
	height:5px;
    margin-top:20px;
    transition: 0.5s;
}

/*Our Story*/
#storyin{
    margin: 0 5%;
}
.rightcomment{
    margin: 0 0 0 auto !important;
}
.stor{
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,179,0,0.5) 100%);
    width: 60%;
    padding: 30px;
    transition:0.2s;
    margin-top: 20px;
    margin-bottom: 20px;  
}
.stor:hover, .stor:active{
	box-shadow: 5px 5px 10px  #013300;
	transform: scale(1.04);
	
}
.stor h3{
    padding: 10px;
    margin: -10px;
    background: linear-gradient(180deg, rgba(0, 219, 0, 0.877), rgba(0, 219, 0, 0.247)) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
    font-weight:700;
}
.stor h3:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  .statement {
    background: linear-gradient(90deg, #0080ff, rgba(0, 204, 255, 0.671)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  }
  .statement:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  .statement{
    padding-bottom: 2px;
    --bg-h: 5px;
    text-decoration: none;
  color: inherit;
  }
@media (max-width: 992px){
    .rightcomment{
        margin-right: auto;
        margin-left: auto;
    }
    .stor{
        width: 100%;
    }
}
footer{
	margin-top:15px;
	bottom: 0;
	margin-bottom:0;
	height:35px;
	background: linear-gradient(180deg,  #fff6ff,#ffffff) !important;
	color: #000;
}
.all{
    margin:30px;
    margin-top: 0;
}
@media (min-width: 992px){
    .all{
    margin:5px;
}}